- content_for :stylesheets do 
  = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"

- content_for :javascripts do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
  = javascript_include_tag "home"

- if cookies[:"show-welcome"].nil?     
  #welcome-modal.modal{"aria-hidden" => "true", "aria-labelledby" => "welcomeModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Welcome to the Tech Locator!
    .modal-body
      %p Use this site to find free public computer labs and technology resources in Chicago. 
    .modal-footer
      %button.btn.btn-info{"aria-hidden" => "true", "data-dismiss" => "modal"} Ok, thanks!

.row
  .span3
    .well
      %h4
        Find address 
        <small>(<a id='findMe' href='#'>find me</a>)</small>
      %input.input-block-level#search_address{:placeholder => "Enter an address ...", :type => "text"}
      
      %label
        %select#search_radius.input-small
          %option{:value => "400"} 2 blocks
          %option{:value => "805"} 1/2 mile
          %option{:value => "1610"} 1 mile
          %option{:value => "3220"} 2 miles
        search radius
      
      %input#btnSearch.btn.btn-primary{:type => "button", :value => "Search"}
      %button#reset.btn Reset
      
    .well
      %h4
        Filters
      
      %label 
        %strong Show me locations that have …
        %ul.inputs-list.unstyled
          %li
            %label.checkbox.inline
              %input#filter_internet{:type => "checkbox"}
              %span{:rel => "popover", :"data-content" => "Locations that offer computers with access to the internet.", :"data-original-title" => "<h4>Internet access</h4>"}
                Internet access
          %li
            %label.checkbox.inline
              %input#filter_technology{:type => "checkbox"}
              %span{:rel => "popover", :"data-content" => "Locations that offer training and courses on using computers.", :"data-original-title" => "<h4>Technology training</h4>"}
                Technology training
          %li
            %label.checkbox.inline
              %input#filter_wifi{:type => "checkbox"}
              %span{:rel => "popover", :"data-content" => "Locations that offer free wireless internet access.", :"data-original-title" => "<h4>Wifi</h4>"}
                Wi-Fi
               
      %label 
        %strong and are …
        %select#filter_type.input-block-level
          %option{:value => ""} -- Select location type --
          %option{:value => "Chicago Housing Authority"} Chicago Housing Authority
          %option{:value => "Chicago Public Library"} Chicago Public Library
          %option{:value => "Chicago Public School"} Chicago Public School
          %option{:value => "City Colleges of Chicago"} City Colleges of Chicago
          %option{:value => "Community Service Center"} Community Service Center
          %option{:value => "Community Technology Center"} Community Technology Center
          %option{:value => "Senior Center"} Senior Center
          %option{:value => "Wireless Internet Zone"} Wireless Internet Zone
          %option{:value => "WorkForce Center"} WorkForce Center
          %option{:value => "WorkNet Chicago"} WorkNet Chicago
          %option{:value => "Youth Career Development Center"} Youth Career Development Center
          
      
    %p#resultCount.alert.alert-info.lead

  .span9.hidden-phone.hidden-tablet
    #mapCanvas
    
  .span9.hidden-desktop
    .row
      .span12
        %ul.item-list#resultsList