.hero-unit
  %h1 Error
  %h3 Opps! There was an error.
  %p
    %a{:href => '#', :onclick => "history.back();"} Go back 
    and try again.

  %p
    If this issue persists, contact the system administrator.